[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "boto3>=1.36.1",
    "botocore>=1.36.1",
    "rich>=13.9.4",
]
